html {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}


main.no-scroll {
    overflow: hidden;
}
/* DEBUT EN-TETE */

.dash1 {
    color: rgba(36, 35, 35, 0.815);
    font-size: 1.2rem;
    font-weight: 600;
}


.iconinput .fa-solid {
    position: absolute;
    margin: 26px;
}

.input {
    padding: 5px 40px;
    margin-top: 10px;
    height: 20px;
    border-radius: 12px;
    border: 1px solid grey;
    outline: none;
}

.img1 .image1 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 10px;
}

.entête {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin: 4px;
    height: 50px;
    box-shadow: 0 0.1px gray;
}


.entête1 {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.en1tete {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.entête2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}

.sous-entête1 {
    display: flex;
    gap: 10px;
}

.p-entête {
    padding-top: 10px;
    font-size: 1.2rem;
    color: rgb(220, 213, 213);
}

.sous-entête2 {
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
    border: 1px solid gray;
    margin-top: 17px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

#icon {
    padding-right: 5px;
}

.sous-entête3 {
    display: flex;
    flex-direction: column;
    line-height: 0.1px;
}

.size1 {
    font-weight: 0.5px;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.769);
}

.size2 {
    color: rgb(137, 137, 137);
    font-size: 1rem;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    background-color: white;
    z-index: 100;
    transition: width 0.3s ease;
}

/* FIN EN-TETE */

/* SIDE-BAR */

.icon1 {
    padding-left: 10px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    padding: 4px 5px;
}

.dash {
    color: black;
}

#hot {
    color: rgb(217, 217, 217);
}

.nav-link span {
    font-size: 20px;
}


.side-main {
    display: flex;
}

#sidebar {
    width: 200px;
    min-width: 200px;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 200;
    transition: width 0.3s ease;
    overflow: hidden;
}

.side {
    display: flex;
    width: 160px;
    min-width: 160px;
    gap: 8px;
    padding-left: 10px;
    padding-right: 30px;

}

.bg-color {
    background-color: rgba(0, 0, 0, 0.75);
    min-height: 100vh;

}

.bg {
    background-image: url(images/94c992138e12276ca66f489ef860cd3e376efe77.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: fixed;
}

.p-side {
    color: rgb(217, 217, 217);
    font-weight: bold;
}

.p-side1 {
    padding-left: 10px;
    color: rgb(217, 217, 217);
    font-size: small;
}

.nav1,
.a1 {
    text-decoration: none;
    list-style-type: none;
    color: rgb(0, 0, 0);
    padding-left: 5px;
}

.nav1,
.a4 {
    text-decoration: none;
    list-style-type: none;
    color: rgb(255, 255, 255);
    padding-left: 5px;
}

#colorblack1 {
    background-color: white;
    color: rgb(0, 0, 0);
}

.colorblack2 {
    color: rgb(0, 0, 0);
    margin: 0;
}

.nav2,
.a2 {
    text-decoration: none;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.75);
    padding-left: 5px;
}

.nav2,
.a3 {
    text-decoration: none;
    list-style-type: none;
    color: rgb(217, 217, 217);
    padding-left: 5px;
}

.left {
    padding-left: 6px;
}

#icon1 {
    background-color: rgb(227, 227, 227);
    padding-top: 2px;
}

/* .icon1 {
    display: flex;
    padding-left: 10px;
} */

.icon2 {
    background-color: rgb(227, 227, 227);
    padding-left: 6px;
}

#nav1 {
    padding: 3px;
}

#span {
    color: white;
}

#icon2 {
    margin-right: 10px;
    padding: 8px 0px;
}

span {
    color: rgba(0, 0, 0, 0.75);
}


.bas {
    display: flex;
    font-size: 15px;
    color: white;
    flex-direction: row;
    padding: 8px;
    position: absolute;
    bottom: 0%;
    gap: 6px
}

#image {
    margin-top: 13px;
}

.lineheight {
    padding-top: 8px;
    line-height: 10px;
    font-size: 1rem;
}

.toggle-button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.entête-gauche {
    display: flex;
    align-items: center;
    gap: 10px;
}

.toggle-button {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 8px;
}

#sidebar {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    transition: transform 0.3s ease;
}

/* SIDE-BAR */

/* MAIN */

.main {
    flex: 1;
    margin-left: 200px;
    transition: margin-left 0.3s ease;
}

#main {
    padding-left: 0;
}

/* .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    padding-top: 150px;
    z-index: 1;
}

.item {
    border-radius: 7px;
    width: 100%;
    padding-left: 10px;
    background-color: white;
}

#p6 {
    background-color: rgb(201, 112, 221);
    width: fit-content;
    padding: 13px 13px;
    border-radius: 50%;
}

#p7 {
    background-color: rgb(46, 252, 186);
    width: fit-content;
    padding: 13px 16px;
    border-radius: 50%;
}

#p8 {
    background-color: rgba(255, 178, 13, 0.995);
    width: fit-content;
    padding: 13px 12px;
    border-radius: 50%;
}

#p9 {
    background-color: rgba(243, 37, 5, 0.977);
    width: fit-content;
    padding: 13px 13px;
    border-radius: 50%;
}

#p10 {
    background-color: rgb(223, 38, 223);
    width: fit-content;
    padding: 13px 16px;
    border-radius: 50%;
}

#p11 {
    background-color: rgb(20, 60, 216);
    width: fit-content;
    padding: 13px 12px;
    border-radius: 50%;
}

#item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pad {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad p b {
    font-weight: 100;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.737);
}

.pad p {
    color: rgb(137, 137, 137);
    font-size: 1rem;
} */

.contenu {
    background-color: rgba(177, 177, 177, 0.253);
    width: 100%;
    min-height: 100vh;
    margin-top: 15px;
}

/* .item p {
    line-height: 5px;
} */

.image2 .images2 {
    width: 245px;
    height: 180px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.pan {
    font-size: 2rem;
    font-weight: normal;
    color: rgba(56, 56, 56, 0.861);
}

.pan1 {
    color: rgba(28, 27, 27, 0.897);
}

.items {
    background-color: white;
    width: fit-content;
    border-radius: 8px;
}

.basimage {
    padding: 8px;
}

#basimage {
    font-size: 12px;
}

#basimage2 {
    font-size: 12px;
    color: rgb(152, 57, 57);
}

#basimage1 {
    font-size: large;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}

.container {
    justify-content: center;
    padding-top: 150px;
}




/* CONTAINER ISOLE */
.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 150px;
    padding: 15px;
}

/* CARTE */
.cards-container .item {
    background: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

/* ICONE */
#ic1 i {
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    background: rgb(201, 112, 221);
    color: white;
}

#ic2 i {
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    background: rgb(46, 252, 186);
    ;
    color: white;
}

#ic3 i {
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    background: rgba(255, 178, 13, 0.995);
    color: white;
}

#ic4 i {
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    background: rgba(243, 37, 5, 0.977);
    color: white;
}

#ic5 i {
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    background: rgb(223, 38, 223);
    color: white;
}

#ic6 i {
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    background: rgb(20, 60, 216);
    color: white;
}



/* TEXTE */
.cards-container .pad p {
    margin: 0;
    color: gray;
}



.pan {
    font-weight: 300;
    font-size: 1.5rem;
    color: black;
}

/* MAIN */

/* PAGE-CONNECTION */
.formulaire {
    background-image: url(images/94c992138e12276ca66f489ef860cd3e376efe77.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}

.logo {
    width: 20px;
    height: 22px;
    margin-top: 7px;
}

.bgoppacité2 {
    background-color: rgba(0, 0, 0, 0.75);
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg1 {
    background-color: white;
    width: max-content;
    padding: 25px;
    padding-top: 15px;
    margin: auto;
    border-radius: 4px;
}

.centrer {
    color: white;
    font-weight: bold;
}

.icon3 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.inputform1 {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    border: none;
    outline: none;
    border-bottom: 1.5px solid rgba(200, 198, 198, 0.5);
}

.p1 {
    font-size: 0.9rem;
}

.p2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 12px;
}

.p3 {
    width: 17px;
    cursor: pointer;
}

.button {
    width: 100%;
    color: white;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(77, 77, 77);
    margin-top: 15px;
}

.button a {
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: rgb(107, 105, 105);
}

.p4 {
    text-align: center;
    font-size: 0.9rem;
    color: white;
}

.textdecoration {
    text-decoration: none;
}

strong {
    color: rgb(253, 211, 97);
}

.p5 {
    line-height: 23px;
}

/* PAGE-CONNECTION */



.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 150;
}

.overlay.active {
    display: block;
}

/* MODAL */

/* .transparant {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
}

.modal {
    color: rgb(0, 0, 0);
    background-color: rgb(254, 254, 254);
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-top: 10px;
    border-radius: 10px;
    opacity: 0;
    width: 50%;
    visibility: hidden;
}

.haut {
    display: flex;
    gap: 10px;
}

#border {
    border-top: 1.2px dotted rgb(146, 146, 146);
    padding-top: 20px;
   
}

.display {
    display: flex;
    gap: 15px;
}

.div1 {
    padding-bottom: 10px;
    flex: 1;
}

.div1 input {
    width: 100%;
    outline: none;
}

.div1 select {
    width: 100%;
    padding: 2.5px;
    outline: none;
}

.label {
    display: block;
    
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.label .imgholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #aaa;
}

.label i {
    font-size: 30px;
    margin-bottom: 10px;
}

.select {
    color: #969595;
}

.btnform {
    padding: 10px 15px;
    background-color: rgb(126, 122, 122);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

#fermermodal {
    cursor: pointer;
} */

/* OVERLAY */
.transparant {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
}

/* MODAL */
.modal {
    background: #fff;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 700px;
    opacity: 0;
    visibility: hidden;
    max-height: 80vh;
    overflow-y: auto;
}

/* HEADER */
.haut {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 5px;
}

/* SEPARATION */
#border {
    border-top: 1px dotted #999;
    padding-top: 20px;
}

/* FORM GRID */
.display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

/* INPUT BLOCK */
.div1 {
    width: 100%;
    margin-bottom: 5px;
}
#name{
    margin-bottom: 10px;
}

.div1 input {
    width: 92%;
    padding: 6px;
    outline: none;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
}

.div1 select {
    width: 100%;
    padding: 6px;
    outline: none;
    padding: 10px;
    border-radius: 8px;
}

/* IMAGE UPLOAD */
.label {
    display: block;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}

.label .imgholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #aaa;
}

/* BUTTON */
.btnform {
    padding: 10px 15px;
    background-color: #7e7a7a;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
   
}
.mit{
    position: absolute;
    right: 20px;
}

/* ACTIVE */
.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}


@media screen and (max-width: 500px) {

    .cards-container {
        margin-top: 200px;
        grid-template-columns: 1fr;
    }

    #sidebar {
        transform: translateX(-100%);
    }

    #sidebar.expand {
        transform: translateX(0);
    }

    .sous-entête3 {
        padding-top: 20px;
    }

    .toggle-button {
        display: block;
    }

    header {
        width: 100%;
    }

    .main {
        margin-left: 0;
    }

    .image2 .images2 {
        width: 100%;
    }

    .entête1 {
        padding-bottom: 20px;
    }

    .img1 .image1 {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-top: 10px;
    }

    /* .item {
        width: 87%;
    } */

    .items {
        width: 90%;
    }

    /* .container {
        flex-direction: column;
        width: 100%;
        padding-top: 220px;
        justify-content: center;
    } */

    .container2 {
        flex-wrap: wrap;
        padding-top: 30px;
        justify-content: center;

    }

    .entête {
        flex-direction: column;
    }

    .entête2 {
        padding-top: 10px;
        margin-top: 40px;
        padding-bottom: 10px;
    }

    .contenu {
        overflow: hidden;
        min-height: 100vh;
    }

    .side-main {
        overflow-y: hidden;
    }


     .modal {
        width: 80%;
        max-width: none;
        padding: 15px;
        border-radius: 10px;
        overflow-y: auto;
    }

    .display {
        grid-template-columns: 1fr;
    }
}

/* @media screen and (min-width: 768px) {
    .image2 .images2 {
        width: 390px;
    }
} */

@media screen and (min-width: 500px) and (max-width: 850px) {
    .image2 .images2 {
        width: 100%;
    }

    #sidebar {
        transform: translateX(-100%);
    }

    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* .container {
        justify-content: center;

    } */

    /* .item {
        width: 100%;
    } */
    .items {
        width: 48%;
    }

    #sidebar.expand {
        transform: translateX(0);
    }

    .toggle-button {
        display: block;
    }

    header {
        width: 100%;
    }

    .main {
        margin-left: 0;
    }

    .container2 {
        flex-wrap: wrap;
        padding-top: 30px;
        justify-content: center;

    }

   .modal {
        width: 80%;
        max-width: none;
        padding: 15px;
        border-radius: 10px;
    }

    .display {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 851px) and (max-width: 1000px) {
    .image2 .images2 {
        width: 100%;
    }

    .items {
        width: 23%;
    }

    .container2 {
        flex-wrap: wrap;
        padding-top: 30px;
        justify-content: center;
    }

    .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }

  .modal {
        width: 90%;
        max-width: none;
        padding: 15px;
        border-radius: 10px;
    }

    .display {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* @media screen and (min-width: 640px) {
    .item {
    border-radius: 7px;
    width: 30%;
    padding-left: 10px;
    background-color: white;
}
} */